<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Manager</title>
    {% load staticfiles %}
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/angular/angular.min.js" %}"></script>
    <script src="{% static "node_modules/angular-ui-router/release/angular-ui-router.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "app/app.js" %}"></script>
    <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="application/javascript">
        window.user = {
                    "username": '{{ user.username }}',
                    "name": '{{ user.first_name }}'
                };
{#<div>当前登入: {{ user }}  <a style="float: right" href="accounts/logout?next=/">退出</a></div>#}
    </script>
</head>
<body ng-app="RoomManager">

<div class="header">
    <div ng-include="'/static/views/navbar.html'"></div>
</div>

<div ui-view></div>
{#<div class="footer">#}
{#    <div class="container">#}
{#        <p style="text-align: center"><span class="glyphicon glyphicon-heart"></span> from the LoveNian team</p>#}
{#    </div>#}
{#</div>#}
{#    <script src="/static/bower_components/requirejs/require.js" defer async="true" data-main="/static/scripts/main.js"></script>#}
</body>
</html>